@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Crear hospital</h1>

<form method="post">
    <label>Id hospital</label>
    <input type="number" name="idhospital" class="form-control"/>
    <label>Nombre</label>
    <input type="text" name="nombre" class="form-control" />
    <label>Direccion</label>
    <input type="text" name="direccion" class="form-control" />
    <label>Telefono</label>
    <input type="text" name="telefono" class="form-control" />
    <label>Numero de camas</label>
    <input type="number" name="camas" class="form-control" />
    <button class="btn btn-success">Insertar hospital</button>
</form>